<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398227463517-4gjlos609g4t2iskdb84d18kc9imq9ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398227463517-4gjlos609g4t2iskdb84d18kc9imq9ju</string>
	<key>API_KEY</key>
	<string>AIzaSyBky9lLulDWJD_18yW4Df9s7EeUzG5HVAM</string>
	<key>GCM_SENDER_ID</key>
	<string>398227463517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tatayaba.Tatayaba</string>
	<key>PROJECT_ID</key>
	<string>tatayab-ios-application</string>
	<key>STORAGE_BUCKET</key>
	<string>tatayab-ios-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398227463517:ios:e7cf21b819fb99ac0a5cb4</string>
	<key>DATABASE_URL</key>
	<string>https://tatayab-ios-application.firebaseio.com</string>
</dict>
</plist>